.page-not-found{
    background-color: #0b0b0b;
}
.page-not-found h1{
    color:#FFFFFF;
    font-size: 64px;
    font-weight: 700;

}
@media (max-width: 991.98px) {
    .banner-content h1 {
        font-size: 36px
    }
}


@media (max-width: 1199.98px) {
    .page-not-found h1 {
        font-size: 45px
    }
}

@media (max-width: 480px) {
    .page-not-found h1 {
        font-size: 32px
    }
}

