.banner-area {
    background-size: cover
}

.banner-area .overlay-bg {
    background-color: rgba(4, 9, 30, 0.8)
}

.banner-content {
    text-align: left
}

.banner-content h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 1em;
    margin-top: 10px;
    color: #fff
}
@media (max-width: 991.98px) {
    .banner-content h1 {
        font-size: 36px
    }
}

@media (max-width: 991.98px) {
    .banner-content h1 br {
        display: none
    }
}

@media (max-width: 1199.98px) {
    .banner-content h1 {
        font-size: 45px
    }
}

@media (max-width: 480px) {
    .banner-content h1 {
        font-size: 32px
    }
}

.banner-content .primary-btn {
    background-color: #f7631b;
    color: #fff;
    font-weight: 600;
    font-size: 14px
}

.banner-content .primary-btn:hover {
    background-color: #fff;
    color: #f7631b
}